@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-black.woff2') format('woff2'),
         url('../fonts/poppins/poppins-black.woff') format('woff'),
         url('../fonts/poppins/poppins-black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-blackitalic.woff2') format('woff2'),
         url('../fonts/poppins/poppins-blackitalic.woff') format('woff'),
         url('../fonts/poppins/poppins-blackitalic.ttf') format('ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-extrabold.woff2') format('woff2'),
         url('../fonts/poppins/poppins-extrabold.woff') format('woff'),
         url('../fonts/poppins/poppins-extrabold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-extrabolditalic.woff2') format('woff2'),
         url('../fonts/poppins/poppins-extrabolditalic.woff') format('woff'),
         url('../fonts/poppins/poppins-extrabolditalic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-bold.woff2') format('woff2'),
         url('../fonts/poppins/poppins-bold.woff') format('woff'),
         url('../fonts/poppins/poppins-bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-bolditalic.woff2') format('woff2'),
         url('../fonts/poppins/poppins-bolditalic.woff') format('woff'),
         url('../fonts/poppins/poppins-bolditalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-semibold.woff2') format('woff2'),
         url('../fonts/poppins/poppins-semibold.woff') format('woff'),
         url('../fonts/poppins/poppins-semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-semibolditalic.woff2') format('woff2'),
         url('../fonts/poppins/poppins-semibolditalic.woff') format('woff'),
         url('../fonts/poppins/poppins-semibolditalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-medium.woff2') format('woff2'),
         url('../fonts/poppins/poppins-medium.woff') format('woff'),
         url('../fonts/poppins/poppins-medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-mediumitalic.woff2') format('woff2'),
         url('../fonts/poppins/poppins-mediumitalic.woff') format('woff'),
         url('../fonts/poppins/poppins-mediumitalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-regular.woff2') format('woff2'),
         url('../fonts/poppins/poppins-regular.woff') format('woff'),
         url('../fonts/poppins/poppins-regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-italic.woff2') format('woff2'),
         url('../fonts/poppins/poppins-italic.woff') format('woff'),
         url('../fonts/poppins/poppins-italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-light.woff2') format('woff2'),
         url('../fonts/poppins/poppins-light.woff') format('woff'),
         url('../fonts/poppins/poppins-light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-lightitalic.woff2') format('woff2'),
         url('../fonts/poppins/poppins-lightitalic.woff') format('woff'),
         url('../fonts/poppins/poppins-lightitalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-extralight.woff2') format('woff2'),
         url('../fonts/poppins/poppins-extralight.woff') format('woff'),
         url('../fonts/poppins/poppins-extralight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-extralightitalic.woff2') format('woff2'),
         url('../fonts/poppins/poppins-extralightitalic.woff') format('woff'),
         url('../fonts/poppins/poppins-extralightitalic.ttf') format('ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-thin.woff2') format('woff2'),
         url('../fonts/poppins/poppins-thin.woff') format('woff'),
         url('../fonts/poppins/poppins-thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('../fonts/poppins/poppins-thinitalic.woff2') format('woff2'),
         url('../fonts/poppins/poppins-thinitalic.woff') format('woff'),
         url('../fonts/poppins/poppins-thinitalic.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
}